td {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTables_wrapper .dataTables_paginate  {
    float: none; /* 將分頁按鈕置中 */
}

@media (max-width: 768px) {
    th{
        font-size: 10px;
    }
    .dt-center {
        font-size: 14px;
    }
    .container {
        width: 100%;
    }
}

.floating-div {
    position: fixed; /* 使用固定定位 */
    bottom: 20px; /* 距離視窗底部的距離 */
    right: 20px; /* 距離視窗左側的距離 */
    z-index: 1000; /* 確保漂浮的 div 能夠顯示在其他內容之上 */
}
.table {
    border-top: 1px solid #dee2e6; /* Bootstrap 預設的邊界樣式 */
}

.dataTables_filter {
    margin-bottom: 20px; /* 調整這個值來增加你想要的間距大小 */
}

#sheetTable th {
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
}